#chapNav{
  position: fixed;
  left: 100vw;
  min-width: 100px;
  width: 22.1%;
  height: 100vh;
  top: 0vh;
  z-index: 100000;
  background-color: white;
  font-size: 13px;
  border-left: 1px solid rgba(0,0,0,.125);
  border-radius: 3px;
  overflow: auto;
}
#chapNav button{
  font-size:19px;
}
#chapNav div.list-group-item:hover{
  background-color: #f8f9fa;
}
#chapNav .list-group-item-success:hover{
  background-color: #b8ddc0 !important;
}
#barSlide{
  position: fixed;
  top:50%;
  height:50px;
  width:50px;
  border-radius: 50%;
  background: white;
  z-index: 90000;
  left:99%;
  border:1px solid rgba(0,0,0,.3);

}
#barSlide:hover{
    background-color: #e8e8e8;
}

#chapNav .list-group  .list-group-item .list-group .list-group-item{
  display: block;
}

.progress{
  margin-bottom: 10px;
}
