body
{
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family:sans-serif;
    font-family: 'Comfortaa', cursive;
    overflow-x:hidden;
    top: 0 !important;
}
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	background-color: rgba(245, 245, 245,0.5);
}

body::-webkit-scrollbar
{
	width: 6px;
	background-color: rgb(245, 245, 245,0.5);
}

body::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
	background-color: rgb(55, 55, 55);
}
/**********  NAV  ***********/
#navMain
  {
    width: 100vw;
    background-color: black ;/*#212121*/
    //*border-bottom: 3px solid #bdbdbd;*/
    overflow:visible;
    position: fixed;
    left: 0;
    top: 0;
	z-index: 10;
  height: 50px;
}

.nav-link, .nav-link:active
{
  background: none;
  border:none;
}

#logo
{
    width: 250px;
    height: 50px;

}
#logo img{
  height: 50px;
}

.nav-item .nav-link
{
    text-align: center;
    transition:0.2s ease-in-out;
    transition-delay: 0s;
}

#navMain .nav-item:hover .nav-link
{
    transform: scale(1.15);
    color: white !important;
}

.navbar-nav li
{
  margin:0 10px 0 10px;
  font-size: 19px;

}

/**********  STOPKA  ***********/
footer
  {
  color: #fff;
  float:right;
  bottom: !important 0;
  padding-right: 3%;
  padding-top: 0.3%;
}

footer p
{
  font-size: 1.1em;
}

footer p span
{
  font-style: italic;
  font-size: 0.7em;
}

/**********  FORMULARZ REJESTRACJI  ***********/
.progress-bar{
  transition: 0.35s !important;
}

.progress{
  width: 100%;
    margin-top: 10px;
}

.has-danger input
{
  border-color: red;
}

.has-danger
{
  color: red;
}

.has-success
{
  color: green;
}

.form-control-feedback{
  font-size: small;
}

/**********    ***********/

/**********  PRZYGOTOWANE KLASY  ***********/
.clear
{
    clear: both;
}
.none{
  display: none;
}
/*
.slide-dropdown-nav{
  background-color: black!important;
  padding-left: 0;
}*/

/*.exp{float: left;
  height: 5px;
  clear:both;
  width: 1000px!important;
  margin: 0;
  bottom: 0;

}
.exp .progress-bar{
  width: 10%;

}


#account .navpos{
  font-size: 15px;
}*/
